<!DOCTYPE html>
<html>
	<head>
	  <%= render 'layouts/head' %>
	</head>
	<body>
		<%= render 'layouts/header' %>		
    <div class="content">
    	<div class="container floating-flash">
    		<%= render  'layouts/flash' %>
    	</div>
	    <%= yield %>
		</div>
    <%= render 'layouts/footer' %>
	</body>
</html>
